![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [31]:
# Re-run this cell 
import pandas as pd

# Read in the data
school = pd.read_csv("schools.csv")

# Preview the data
school.head()

# Start coding here...
# Add as many cells as you like...

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

In [32]:
school.describe()

       average_math  average_reading  average_writing  percent_tested
count    375.000000       375.000000       375.000000      355.000000
mean     432.944000       424.504000       418.458667       64.976338
std       71.952373        61.881069        64.548599       18.747634
min      317.000000       302.000000       284.000000       18.500000
25%      386.000000       386.000000       382.000000       50.950000
50%      415.000000       413.000000       403.000000       64.800000
75%      458.500000       445.000000       437.500000       79.600000
max      754.000000       697.000000       693.000000      100.000000

In [33]:
school.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school_name      375 non-null    object
 1   borough          375 non-null    object
 2   building_code    375 non-null    object
 3   average_math     375 non-null    int64
 4   average_reading  375 non-null    int64
 5   average_writing  375 non-null    int64
 6   percent_tested   355 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 20.6+ KB

In [34]:
# The best math results are at least 80% of the *maximum possible score of 800* for math.

max_score = 800
threshold = max_score * 0.80

best_math_schools = school[(school["average_math"] >= threshold)][["school_name", "average_math"]].sort_values(by=['average_math'],  ascending=False)

In [35]:
# What are the top 10 performing schools based on the combined SAT scores?

total_SAT = school[["average_math", "average_reading","average_writing"]].sum(axis = 1)
school["total_SAT"] = total_SAT

In [36]:
top_10_schools1 = school.sort_values(by=['total_SAT'], ascending=False).head(10)

In [37]:
top_10_schools = school[["school_name", "total_SAT"]].sort_values(by = ["total_SAT"], ascending = False).head(10)
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [38]:
# NYC borough that has the highest STD for total_SAT?
borough = school.groupby("borough")["total_SAT"].agg(["count","mean","std"]).round(2)

# Filter the school DataFrame for the borough with the largest standard deviation
largest_std_dev = borough[borough["std"] == borough["std"].max()]

# For clarity
largest_std_dev = largest_std_dev.rename(columns = {"count":"num_schools", 
                                                    "mean":"average_SAT",
                                                    "std":"std_SAT"})

In [39]:
largest_std_dev.reset_index(inplace=True)
print(largest_std_dev)

     borough  num_schools  average_SAT  std_SAT
0  Manhattan           89      1340.13   230.29